/* ============================================================================
   LAYOUT -> TEMPLATE -> HEADER
   ========================================================================= */

/**
 * The site header
 */

/**
 * Grid.
 */

.l-grid--space-between .l-grid__item {
    width: auto;
}

.l-header {
    background-color: $g-color-slate-600;
    padding: 0 rem($shell-g-spacing-large);
}


