/* ============================================================================
   LAYOUT -> TEMPLATE -> MAIN
   ========================================================================= */

/**
 * The main content container.
 */

/**
 * Settings.
 */
.l-flex {
    display: flex;
}

.l-main {
    flex: 1;
    padding: rem($shell-g-spacing-large);
}
