/* ============================================================================
   LAYOUT -> TEMPLATE -> SIDEBAR
   ========================================================================= */

/**
 * The filter sidebar
 */

.l-sidebar {
    background-color: $g-color-slate-400;
    color: $shell-g-color-white;
    display: inline-block;
    flex: 0 0 rem(300);
    padding: rem($shell-g-spacing-large);
}
