/* ============================================================================
   COMPONENTS -> CARD
   ========================================================================= */

/**
* Base
*/

$c-card-background-color: $g-color-grey-100;


/**
* Base.
* 1. Allow links to be cards
*/

.c-card {
    background: $c-card-background-color;
    border-radius: $g-border-radius;
    box-shadow: 0 3px 0 rgba($g-color-slate-400, 0.3);
    color: $g-color-text-base;
    display: block;
    position: relative;
    text-decoration: none; // [1]

    &:hover {
        box-shadow: 0 3px 0 rgba($g-color-brand, 0.3);
        color: $g-color-text-base;
    }
}

.c-card__header {
    border-bottom: 1px solid rgba($g-color-slate-400, 0.3);
    padding: rem($shell-g-spacing-small);
}

.c-card__body {
    padding: rem($shell-g-spacing-small);
}





