/* ============================================================================
   LAYOUT -> TEMPLATE -> SIDEBAR
   ========================================================================= */

/**
 * The filter sidebar
 */

.l-sidebar {
    background-color: $g-color-slate-400;
    color: $shell-g-color-white;
    padding: rem($shell-g-spacing-large);
    width: rem(300);
}

.l-sidebar {

}
