/* ============================================================================
   SETTINGS
   ========================================================================= */

/**
 * All global settings (Sass variables) and any Shell library setting
 * overrides.
 *
 * The project settings can use any of the Shell library settings, like so:
 *
   $g-color-code-block-background: $shell-g-color-white;
 *
 * ---------------------------------------------------------------------------
 *
 * All settings start with a global namespace: `$g` followed by one hyphen,
 * like this:
 *
   $g-;
 *
 * The "g" stands for "global".
 *
 * ----------------------------------------------------------------------------
 *
 * CONTENTS:
 *
 * 1. Colours
 * 2. Typography
 * 3. Shell overrides
 */




/* 1. Colours
   ========================================================================= */

/**
 * Blue.
 */

$g-color-blue-500: #19a9e5;


/**
 * Brand.
 */

$g-color-brand: $g-color-blue-500;


/**
 * Text.
 */

// Base
$g-color-text-base: $g-color-brand;


/**
 * Grey.
 */

$g-color-grey-50: #fafafb;

$g-color-grey-100: #f6f6f8;


/**
 * Slate.
 */

$g-color-slate-400: #607d8b;

$g-color-slate-400: #607d8b;

$g-color-slate-600: #36474f;

$g-color-slate-700: #333;

$g-color-slate-800: #303f46;




/* 2. Typography
   ========================================================================= */






/* 3. Layout
   ========================================================================= */






/* 4. Shell overrides
   ========================================================================= */




// /**
//  * Colours (Global).
//  */



/**
 * Typography (Global).
 */




/**
 * Base (Local).
 */

// Links



/**
 * Cosmetics (Global).
 */

$g-border-radius: 3px;