/* ============================================================================
   SETTINGS
   ========================================================================= */

/**
 * All global settings (Sass variables) and any Shell library setting
 * overrides.
 *
 * The project settings can use any of the Shell library settings, like so:
 *
   $g-color-code-block-background: $shell-g-color-white;
 *
 * ---------------------------------------------------------------------------
 *
 * All settings start with a global namespace: `$g` followed by one hyphen,
 * like this:
 *
   $g-;
 *
 * The "g" stands for "global".
 *
 * ----------------------------------------------------------------------------
 *
 * CONTENTS:
 *
 * 1. Colours
 * 2. Forms
 * 3. Shell overrides
 */




/* 1. Colours
   ========================================================================= */

/**
 * Blue.
 */

$g-color-blue-500: #19a9e5;

/**
 * Green.
 */

$g-color-green-500: #4daf7c;

$g-color-green-700: #019875;

/**
 * Red.
 */

$g-color-red-500: #d91e18;

/**
 * Grey.
 */

$g-color-grey-50: #fafafb;

$g-color-grey-100: #f6f6f8;


/**
 * Slate.
 */

$g-color-slate-400: #607d8b;

$g-color-slate-400: #607d8b;

$g-color-slate-600: #36474f;

$g-color-slate-700: #333;

$g-color-slate-800: #303f46;

/**
 * Brand.
 */

$g-color-brand: $g-color-blue-500;


/**
 * Validation.
 */

$g-color-error: $g-color-red-500;

$g-color-success: $g-color-green-500;

/**
 * Text.
 */

// Base
$g-color-text: $g-color-slate-700;




/* 2. Forms
   ========================================================================= */

label.is-required {
    position: relative;

    &::after {
        color: $g-color-error;
        content: '*';
    }
}


/**
 * Cosmetics (Global).
 */

$g-border-radius: 3px;
